.translate_title {
    margin-top: 60px;
    border: 1px solid #DFE1E5;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: white!important;
}
.translate_title>div {
    width: 47%;
    text-align: center;
}
.translate_title>div>a{
    display: block;
}
.translate_content textarea {
    width: 49.7%;
    border-color: #DFE1E5;
    outline: none;
    resize: none;
    text-indent: 30px;
    padding-top: 15px;
    height: 230px;
    font-size: 25px;
}
.translate_content textarea::placeholder {
    font-size: 25px;
}
